// A token is required to authenticate your requests
// Get it from IceScrum > MyAccount > Account > API tokens
var iceScrumToken = '...' 

// A single project as a player
projectId = "MYPROJXXX";

// And/or multiple projects as PnJ
projectIds = ["MYPROJYYY","MYPROJZZZ"];


// Select the backend to use
const API_base_url = "https://etml.icescrum.com/ws/project/";